<!DOCTYPE html>
{% extends 'admin_home.html' %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-title">Category List<a href="{% url 'CategoryAdd' %}" class="btn btn-sm text-white btn-success mr-1" style="float: right;">
           <i class="fas fa-plus"></i> Add New Category</a>
        </div>
    </div>

  <div class="card-body">
    <table class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Image</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
    {% for category in categories %}
    <tr>
        <td>{{ category.id }}</td>  <!-- Automatically generates the row number -->
        <td>{{ category.name }}</td>  <!-- Category name -->
        <td>{{ category.description }}</td>  <!-- Category description -->
        <td>
            <img src="{{ category.image.url }}" alt="Category Image" class="img-thumbnail" style="width:80px; height:80px; border-radius: 50%">
        </td>
        <td>
            <a href="{% url 'CategoryEdit' cat_id=category.id %}" class="btn btn-sm btn-primary mr-1">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'CategoryDelete' cat_id=category.id %}" class="btn btn-sm btn-danger">
                <i class="fas fa-trash"></i> Delete
            </a>
        </td>
    </tr>
    {% endfor %}
</tbody>

    </table>
  </div>
</div>

{% endblock %}

</body>
</html>